.row {
  display: flex;
}

.row + .row {
  margin-top: 10px;
}

.label {
  width: 150px;
}

.input {
  margin-left: 10px;
}

.townInput {
  margin-left: 10px;
  width: 20px;
}

.submitButton {
  margin-top: 10px;
}

.resultText {
  margin-top: 10px;
}

.distanceMap {
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}